.D_parallax {
    background-attachment: fixed;
    background-image: url("./assets/parallex.jpg");
    /* min-height: 600px; */
    background-position: center;
    background-size: cover;
  }

  .my-btn-pill{
    border-radius: 30px;
  }
  .fa-facebook-square{
    color:#3b5998
  }
  .fa-linkedin{
  color: #3f729b
  }
  .fa-twitter-square{
  color: #55acee
  }
  .fa-behance-square{
      color: #1769ff
  }
  .make-white{
    color:white;
  }
.my-card-radius{
  border-radius: 10px
}
.my-card-img-border-radius{
  border-radius:10px 10px 0 0
}

.btn-extra-dark-border{
  border: 2px solid rgb(77, 75, 75);
}
.my-user-image-bordering{
  width:9%; border-radius: 50%;
}

/* for brand icon */
.brand-height{
  height:70px
}
.brand-text-height{
  height:40px;top:-5px;
}
.brand-name-text{
  font-size:20px;
}
.brand-name-text-1{
  top:10%;
}
.brand-name-text-2{
  top:55%;
}
.brand-subtitle{
  font-size:12px;
  top:115%;
}